<div class="row centered mt-4">
    <div class="col-md-7 col-md-offset-1 mx-auto">
        <center>
        <form method="get" action="/admincarlist">
            <button type="submit" class="btn btn-success" >Car list </button>
        </form>
        <br><br>
        <form method="get" action="/adminuserlist">
                        <button type="submit" class="btn btn-success" >UserList </button>
         </form>
         <br><br>
         <form method="get" action="/newcar">
                <button type="submit" class="btn btn-success" >Add new car </button>
         </form>
    </center>
    </div>
</div>