<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#"><h2 color=red;>BookndRide</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
        {{#if login}}
            {{!-- <li class="nav-item">
                <a class="nav-link" href="/search">Search <span class="sr-only">(current)</span></a>
            </li> --}}
            <li class="nav-item">
                <a class="nav-link" href="/mybookings">My Bookings <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/profile">Profile <span class="sr-only">(current)</span></a>
            </li>
            {{!-- <li class="nav-item">
                <a class="nav-link" href="/users">Users <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cars">New Car <span class="sr-only">(current)</span></a>
            </li> --}}
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/user/signin">Signin <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/signup">Signup <span class="sr-only">(current)</span></a>
            </li>
        {{/if}}

    </ul>

    {{#if isadmin}}
    <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
    {{/if}}
{{#if login}}

    <a class="nav-link" href="/user/logout">Logout <span class="sr-only">(current)</span></a>
      
      {{/if}}
      <a class="nav-link" href="/policy">Our policy <span class="sr-only">(current)</span></a>
      </nav>

      <script type="text/javascript">
    (function(d, m){
        var kommunicateSettings = 
            {"appId":"37c3f1e2f25bc96d9080c34f3b4577e90","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>
      