<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#"><h2 color=red;>BookndRide</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
        {{#if login}}
            {{!-- <li class="nav-item">
                <a class="nav-link" href="/search">Search <span class="sr-only">(current)</span></a>
            </li> --}}
            <li class="nav-item">
                <a class="nav-link" href="/mybookings">My Bookings <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/profile">Profile <span class="sr-only">(current)</span></a>
            </li>
            {{!-- <li class="nav-item">
                <a class="nav-link" href="/users">Users <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cars">New Car <span class="sr-only">(current)</span></a>
            </li> --}}
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/user/signin">Signin <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/signup">Signup <span class="sr-only">(current)</span></a>
            </li>
        {{/if}}

    </ul>

    {{#if isadmin}}
    <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
    {{/if}}
{{#if login}}
    <a class="nav-link" href="/user/logout">Logout <span class="sr-only">(current)</span></a>
      
      {{/if}}
      </nav>
      