<center>
    <br><br>
    <h1> Enter password</h1>
    <form method="post" action="/check">
        <input type="name" id="password" name="password">
        {{!-- <a href="/employee/check">Submit</a> --}}
        <button type="submit"> Submit</button>
    </form>

</center>